<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Generar boleta</title>
	<mvc:resources mapping="/webjars/**" location="/webjars/"/>
	<link href="css/boleta.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="genera">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/histories"><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: white;"></span></a></li>
                <li><a style="color: white; font-size: 15px;" href="/history/new">Nueva boleta</a></li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: white; font-size: 15px;" href="/user/profile"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a style="color: white; font-size: 15px;" th:href="${'/logout'}"><Afiliados>Cerrar Sesion</Afiliados></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<form action="/boleta" method="GET" class="form-signin"></form>
    <div class="row">
        <u><h1>Perfil</h1></u>
        <br/>
        <b>Nombre:</b> <a th:text="${user.username}"></a>
        <br/><br/>
        <b>Apellido: </b><a th:text="${user.apellido}"></a>
        <br/><br/>
        <b>Email: </b><a th:text="${user.email}"></a>
        <br/><br/>
        <b>Fecha de Nacimiento:</b> <a th:text="${user.date}"></a>
        <br/><br/>
        <b>Ciudad: </b><a th:text="${user.city}"></a>
        <br/><br/>
        <b>Direccion:</b> <a th:text="${user.direc}"></a>
        <br/><br/>
    </div>
    <div class="centrar">
        <a style="background-color: #086A87; color: aliceblue;" class="btn btn-default" th:href="${ '/histories'}">Volver</a>
        <a style="background-color: #086A87; color: aliceblue;" class="btn btn-default" href="/edit/user/profile">Editar</a>
    </div>
</div>
</body>
</html>
