<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Generar boleta</title>
	<mvc:resources mapping="/webjars/**" location="/webjars/"/>
	<link href="css/profileForm.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="genera">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/histories"><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: white;"></span></a></li>
                <li><a style="color: white; font-size: 15px;" href="/history/new">Nueva historial</a></li>
            </ul>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: white; font-size: 15px;" href="/user/profile"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a style="color: white; font-size: 15px;" th:href="${'/logout'}"><Afiliados>Cerrar Sesion</Afiliados></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <br/>
    <center><u><h1>Editar Perfil</h1></u></center>
    <form class="form-horizontal" th:object="${user}" th:action="@{/user/save/edit}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{roles}"/>
        <input type="hidden" th:field="*{email}"/>
        <input type="hidden" th:field="*{password}"/>
        <input type="hidden" th:field="*{passwordConfirm}"/>
        <div class="estil">
            <div style="width: 200px;" class="form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control" th:field="*{username}"/>
                <span style="color: red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Errors</span>
            </div>

            <div style="width: 200px;" class="form-group">
                <label>Apellido:</label>
                <input type="text" class="form-control" th:field="*{lastname}"/>
                <span style="color: red;" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Errors</span>
            </div>

            <div style="width: 150px;" class="form-group">
                <label>Fecha de nacimiento:</label>
                <input type="date" class="form-control" th:field="*{date}"/>
                <span style="color: red;" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Errors</span>
            </div>

            <div style="width: 200px;" class="form-group">
                <label>Ciudad:</label>
                <input type="text" class="form-control" th:field="*{city}"/>
                <span style="color: red;" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Errors</span>
            </div>

            <div style="width: 200px;" class="form-group">
                <label>Direccion:</label>
                <input type="text" class="form-control" th:field="*{direc}"/>
                <span style="color: red;" th:if="${#fields.hasErrors('direc')}" th:errors="*{direc}">Errors</span>
            </div>
        </div>
        <center>
            <div class="row">
                <a style="background-color: #086A87; color: aliceblue;" class="btn btn-default" th:href="${ '/user/profile'}">Volver</a>
                <button style="background-color: #086A87; color: aliceblue;" type="submit" class="btn btn-default">Guardar</button>
            </div>
        </center>
    </form>

</div>

</body>
</html>
