*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/images/fondo5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opaciudad: 80;
}
.nav{
    background-color: black;
}
.genera{
    color: #E8F8F5;
    background-color: black;
    font-family: Calibri;
    font-size: 15px;
}
a{
    color: aliceblue;
}
.row{
    color: black;
    font-family: cursive;
    font-size: 15px;
    padding-top: 3%;
    padding-left: 46%;
}
.row u h1{
    padding-left: 4%;
}
.centrar{
    margin-left: 45%;
}