body{
    background-image: url("/images/fondo7.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 80;
}
.nav{
    background-color: black;
}
.genera{
    color: #E8F8F5;
    background-color: black;
    font-family: Calibri;
    font-size: 15px;
}
a{
    color: aliceblue;
}
.row{
    color: black;
    font-family: cursive;
    font-size: 15px;
    padding-top: 3%;
    padding-left: 40%;
}

.centrar{
    margin-left: 44%;
}
.row u h1{
    padding-left: 5%;
}
