body{
        background-image: url("/images/fondo1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

.row{
      padding-left: 10%;

}
	.margen{
		margin-left: 25%;
	}

    p{
        font-size: 110px;
        font-family: cursive;
        color: #004F8B;
        padding-top: 14%;
		font-weight: 400;
		margin-left: 3%;
    }

    button{
        height: 40px;
        width: 170px;
        background-color: #063F6F ;
        color: white;
    }
    b {
        color: black;
    }
    .bottom{
        padding-left:15% ;
    }
    .boton{
        margin-left: 15%;
    }